<h1>Products</h1>

<h4><%= link_to "New Product", new_product_path if user_signed_in?%></h4>

<div class="products">
      <% @products.each do |product| %>
      <div class="data">
        <p><%= product.category %></p>
         <div>
           <%= link_to product.name, product_path(product.id) %>
        </div>
        <p><%= product.price %></p>
      </div>
      <%end%>
</div>


